html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(182, 182, 182);
}

#data-container {
  margin: 5px;
}

#data-container div {
  margin: 2px;
}

#select-unit {
  margin: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

#search-location {
  background-image: url("img/magnify.svg");
  width: 23px;
}

#search-container {
  display: flex;
  gap: 3px;
}

.data-pretty {
  background-color: rgb(13, 15, 48);
  color: white;
  border: ridge black;
  border-radius: 10px;
  width: fit-content;
  padding: 3px;
}
